[Unit]
Description=Reproductor de Audio WAV para FPGA
After=multi-user.target

[Service]
Type=simple
WorkingDirectory=/home/root/proyecto_audio
ExecStart=/home/root/proyecto_audio/start_player.sh
Restart=on-failure
RestartSec=10

[Install]
WantedBy=multi-user.target